.flexCol {
  display: flex;
  flex-direction: column;
}
.flexColWrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flexColNowrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexColReverseNowrap {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}
.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.external {
  width: 100vw;
}
.nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: baseline;
  max-width: 800px;
  width: 100%;
  margin: 5vh auto 0 auto;
  height: 8vh;
}
.nav .logo {
  flex-grow: 2;
  padding: 0 0 5vh 0;
}
.nav .anchors {
  flex-grow: 1;
  justify-items: flex-end;
  line-height: 4em;
  display: flex;
  flex-wrap: nowrap;
}
.nav .anchors a {
  flex-grow: 1;
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 4rem;
  font-weight: 600;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.flexRowNowrap {
  display: flex;
  flex-wrap: nowrap;
}
.flexColWrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.external {
  width: 100vw;
  padding: 2.5em 0;
}
.nav {
  display: flex;
  flex-wrap: nowrap;
  width: 90vw;
  margin: 0 auto;
  height: 8vh;
}
.nav .logo {
  flex-grow: 2;
  padding: 0 0 5vh 0;
}
.nav .home .volunteer {
  margin-bottom: 2vh;
}
.nav .anchors {
  flex-grow: 1;
  justify-items: flex-end;
  line-height: 4em;
  display: flex;
  flex-wrap: nowrap;
}
.nav .anchors a {
  flex-grow: 1;
  text-decoration: none;
  text-align: right;
  font-size: 1.5em;
  font-weight: 300;
}
@media (max-width: 500px) {
  .nav2 {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 0 0;
    display: flex;
    flex-wrap: nowrap;
  }
  .nav2 .logo {
    flex-grow: 1;
    width: 100%;
    text-align: center;
    padding: 0 0;
  }
  .nav2 .anchors {
    flex-grow: 1;
    width: 100%;
    text-align: center;
  }
}
.footer {
  width: 100%;
  border-top: 1px solid #de9151;
}
.footer p {
  text-align: center;
  color: white;
  font-size: 1.6rem;
  padding: 20px;
}
.footer2 {
  width: 100%;
}
.footer2 p {
  text-align: center;
  color: white;
  font-size: 1.6rem;
  padding: 15px;
}
body {
  background: black;
  color: white;
}
.home {
  color: white;
}
.home .container .hone {
  background: black;
}
.home .content-section {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 90vw;
  margin: 0 auto;
  padding: 30px 5vw;
  background: black;
}
.home .content-section .text-content {
  width: 43%;
  padding-right: 1%;
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-volunteer {
  border-top: 1px solid #de9151;
  width: 80vw;
  background: black;
  padding: 5vh;
  margin: 0 auto 30px;
}
.home .content-volunteer img {
  border-radius: 10px;
}
.home .content-pick {
  padding: 30px 10vw 0 10vw;
  display: flex;
  justify-content: space-between;
}
.home .content-pick .flexbox {
  padding: 0 30px 30px 30px;
  text-align: center;
}
.home .icons {
  padding-bottom: 10px;
  color: white;
}
.flexColWrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flexColNowrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexColReverseNowrap {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}
.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  min-height: 30vh;
}
header .header-main-img {
  flex-grow: 1;
}
header .header-text {
  background-color: #FFFFFF;
  color: #444545;
  text-align: center;
  padding: 2% 10%;
  font-weight: 500;
  font-size: 2em;
}
header .header-text2 {
  background-color: #de9151;
  color: #FFFFFF;
  text-align: center;
  padding: 2% 10%;
  font-weight: 200;
}
header .header-text2 .h2 {
  font-weight: 500;
}
button {
  background: black;
  opacity: 0.6;
  width: 120px;
  height: 2em;
  font-size: 1em;
  color: #FFFFFF;
  transition: 0.3s;
}
button:hover {
  opacity: 1;
}
@media (max-width: 500px) {
  body {
    width: 100%;
    margin: 0 auto;
  }
  body h2 {
    font-size: 2rem;
  }
  body .external {
    width: 100%;
  }
  .body-vol .nav2 .anchors .vis {
    display: none;
  }
  header .header-main-img {
    margin: 0 5vw;
  }
  header .header-text {
    width: 90vw;
    margin: 0 auto;
    font-weight: 300;
  }
  .container .home {
    width: 100%;
  }
  .container .home .content-pick {
    display: none;
  }
  .home .content-section {
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90vw;
    margin: 2vh 2vw;
    margin: 0 auto;
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .home .content-section img {
    display: none;
  }
  .home .content-section p {
    margin: 5vw;
  }
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  .text-content,
  .img-content {
    width: 90vw;
    margin: 5vw;
  }
}
.home .inverse-content {
  width: 90vw;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}
.home .inverse-content .text-content,
.home .inverse-content .img-content {
  width: 90vw;
  margin: 2vh 2vw;
}
.home .content-volunteer {
  width: 90vw;
  margin: 2vh 5vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.home .content-volunteer .text-content,
.home .content-volunteer .img-content {
  width: 100%;
  margin: 0 auto;
}
.home .content-pick {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80vw;
  margin: 0 10vw;
}
.home .content-pick .flexbox {
  width: 90%;
  margin: 1vh auto;
}
h2 {
  font-size: 2rem;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 90vw;
  }
  .home .content-section .text-content {
    padding-top: 3vh;
  }
  .home .inverse-content .text-content {
    padding-left: 0;
  }
}
@media (max-width:720px) {
  .home .content-section .img-content img {
    display: none;
  }
  .home .content-section {
    width: 95%;
  }
  .home .text-content {
    width: 90vw;
    padding-right: 1%;
  }
  h2 {
    font-size: 2rem;
  }
}
.body-vol {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  background-image: url(../img/girl92.jpg);
}
.body-vol button {
  background: black;
  opacity: 0.8;
  width: 120px;
  height: 2em;
  font-size: 1em;
  color: #FFFFFF;
  transition: all 300ms ease-in-out;
}
.body-vol .volunteer {
  color: white;
}
.body-vol .volunteer h3 {
  text-transform: uppercase;
  font-family: 'Special Elite', cursive;
}
.body-vol .mid {
  margin: auto 15vw;
  max-height: 60vh;
  max-width: 40vw;
}
.body-vol .mid h1 {
  font-weight: 400;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-family: 'Special Elite', cursive;
}
.body-vol .mid .intro-text {
  max-width: 30vw;
}
.body-vol .mid button {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  width: 20vw;
  height: 3rem;
}
.external2 {
  width: 100vw;
  padding-top: 2.5em;
}
.nav2 {
  display: flex;
  flex-wrap: nowrap;
  max-width: 70vw;
  width: 100%;
  margin: 0 auto 2vh auto;
  height: 7vh;
}
.nav2 .logo {
  flex-grow: 3;
  padding: 0 0 5vh 0;
}
.nav2 .anchors {
  flex-grow: 1;
  justify-items: flex-end;
  line-height: 4em;
  display: flex;
  flex-wrap: nowrap;
}
.nav2 .anchors a {
  flex-grow: 1;
  text-decoration: none;
  text-align: right;
  font-size: 1.5em;
  color: white;
  font-weight: 300;
}
@media (max-width: 500px) {
  body {
    width: 100vw;
  }
  .body-vol .mid {
    max-width: 80vw;
  }
  .body-vol .mid .opening .intro-text {
    max-width: 70vw;
  }
  .body-vol .mid button {
    width: auto;
  }
  .body-vol .nav2 {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 0 0;
    margin: 0 auto 2vh auto;
    display: flex;
    flex-wrap: nowrap;
  }
  .body-vol .nav2 .logo {
    flex-grow: 1;
    width: 100%;
    text-align: center;
    padding: 0 0;
  }
  .body-vol .nav2 .anchors {
    flex-grow: 1;
    width: 100%;
    text-align: center;
  }
  .body-vol .nav2 .vis {
    display: none;
  }
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
}
@media (max-width:720px) {
  body {
    width: 100vw;
  }
  .nav2 .vis {
    display: none;
  }
  .nav2 button {
    width: auto;
  }
  body .mid {
    max-width: 80vw;
  }
  body .opening .intro-text {
    max-width: 70vw;
  }
  body button {
    width: auto;
  }
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
}
body {
  background: black;
  opacity: 0.9;
  background-image: url(../img/boy92.jpg);
}
.body-about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  background-repeat: repeat-y;
}
.body-about button {
  background: black;
  opacity: 0.8;
  width: 120px;
  height: 2em;
  font-size: 1em;
  color: #FFFFFF;
  transition: all 300ms ease-in-out;
}
.body-about .volunteer {
  color: white;
}
.body-about .volunteer h3 {
  text-transform: uppercase;
  font-family: 'Special Elite', cursive;
}
.body-about .mid2 {
  font-size: 0.7rem;
  background: black;
  opacity: 0.9;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  padding: 3vh 10vw 3vh 15vw;
  width: 100vw;
  font-size: 0.8rem;
}
.body-about .mid2 h1,
.body-about .mid2 h2 {
  font-weight: 200;
}
.body-about .mid2 .full-size-blocks {
  padding-top: 2vh;
}
.body-about .mid2 button {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  width: 20vw;
  height: 3rem;
}
.body-about .mid2 .team {
  background: #444545;
  opacity: 0.9;
  margin-top: 5vh;
  padding: 2vh 7vw 2vh 7vw;
  color: white;
  text-shadow: 1px 1px black;
}
.body-about .mid2 .team .meet {
  margin-top: 3vh;
  text-align: center;
  text-transform: uppercase;
}
.body-about .mid2 .team .member {
  background: unset;
  display: flex;
  flex-wrap: nowrap;
  align-items: space-around;
  padding: 0 2vw 2vh 0;
}
.body-about .mid2 .team .member img {
  width: 12vw;
  margin: 1vh 2vw 1VH 0;
}
.body-about .mid2 .team .member .bio {
  margin: 1vh 2vw 1vh 3vw;
}
.body-about .mid2 .team .member2 {
  background: unset;
  display: flex;
  flex-wrap: nowrap;
  padding: 0 2vw 2vh 0;
}
.body-about .mid2 .team .member2 img {
  width: 12vw;
  margin: 1vh 0 1vh 3vw;
}
.body-about .mid2 .team .member2 .bio {
  margin: 1vh 2vw 1vh 3vw;
}
@media (max-width:720px), (max-width: 500px) {
  .team .member img,
  .team .member2 img {
    display: none;
  }
}
.external2 {
  width: 100vw;
  padding-top: 2vh;
}
.nav2 {
  display: flex;
  flex-wrap: nowrap;
  max-width: 80vw;
  margin: 0 auto 2vh auto;
  height: 7vh;
}
.nav2 .logo {
  flex-grow: 1;
  width: 20vw;
}
.nav2 .anchors {
  flex-grow: 1;
  line-height: 4em;
  display: flex;
  flex-wrap: nowrap;
}
.nav2 .anchors a {
  flex-grow: 1;
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  color: white;
  font-weight: 300;
}
@media (max-width: 500px) {
  body {
    width: 100vw;
  }
  .body-about .mid {
    max-width: 80vw;
  }
  .body-about .mid .opening .intro-text {
    max-width: 70vw;
  }
  .body-about .mid button {
    width: auto;
  }
  .body-about .nav2 {
    width: 100%;
    font-size: 0.8rem;
    margin: 0 auto 2vh auto;
    padding: 0 0 0 0;
    display: flex;
    flex-wrap: nowrap;
  }
  .body-about .nav2 .logo {
    flex-grow: 1;
    width: 100%;
    text-align: center;
    padding: 0 0;
  }
  .body-about .nav2 .anchors {
    flex-grow: 1;
    width: 100%;
    text-align: center;
  }
  .body-about .nav2 .nav2 .vis {
    display: none;
  }
}
@media (max-width: 500px) and (max-width:720px) {
  body {
    width: 100vw;
    font-size: 1rem;
  }
  .nav2 .vis {
    display: none;
  }
  .nav2 .vis button {
    width: auto;
  }
  .nav2 .vis .nav2 {
    font-size: 0.8rem;
  }
  body .mid {
    max-width: 80vw;
  }
  body .opening .intro-text {
    max-width: 70vw;
  }
  body button {
    width: auto;
  }
}
